.primaryFire {
  background-color: #b22f30;
}

.secondaryTextFire {
  color: #8a0917;
}

.secondaryBackgroundFire {
  background-color: #8a0917;
}

.primaryWater {
  background-color: #002a4a;
}

.secondaryTextWater {
  color: #17607d;
}

.secondaryBackgroundWater {
  background-color: #17607d;
}

.primaryGrass {
  /* background-color: #4aa63a; */
  background-color: #3aa938;
}

.secondaryTextGrass {
  /* color: #198418; */
  color: #157915;
}

.secondaryBackgroundGrass {
  background-color: #157915;
}

.primaryElectric {
  background-color: #fabc00;
}

.secondaryTextElectric {
  color: #fff1ce;
}

.secondaryBackgroundElectric {
  background-color: #fff1ce;
  color: #978000;
}

.primaryPsychic {
  background-color: #e257a7;
}

.secondaryTextPsychic {
  color: #c2358c;
}

.secondaryBackgroundPsychic {
  background-color: #c2358c;
}

.primaryIce {
  background-color: #32afcf;
}

.secondaryTextIce {
  color: #0587a8;
}

.secondaryBackgroundIce {
  background-color: #0587a8;
}

.primaryDragon {
  background-color: #6759d3;
}

.secondaryTextDragon {
  color: #4d2ec3;
}

.secondaryBackgroundDragon {
  background-color: #4d2ec3;
}

.primaryDark {
  background-color: #604438;
}

.secondaryTextDark {
  color: #412c20;
}

.secondaryBackgroundDark {
  background-color: #412c20;
}

.primaryFairy {
  background-color: #e698d5;
}

.secondaryTextFairy {
  color: #e860c9;
}

.secondaryBackgroundFairy {
  background-color: #e860c9;
}

.primaryNormal {
  background-color: #8c7a6c;
}

.secondaryTextNormal {
  color: #b09d8e;
}

.secondaryBackgroundNormal {
  background-color: #b09d8e;
}

.primaryFighting {
  background-color: #d64700;
}

.secondaryTextFighting {
  color: #ff9311;
}

.secondaryBackgroundFighting {
  background-color: #ff9311;
}

.primaryFlying {
  background-color: #6b8fd1;
}

.secondaryTextFlying {
  color: #a3b9f3;
}

.secondaryBackgroundFlying {
  background-color: #a3b9f3;
}

.primaryPoison {
  background-color: #9c389c;
}

.secondaryTextPoison {
  color: #6d166d;
}

.secondaryBackgroundPoison {
  background-color: #6d166d;
}

.primaryGround {
  background-color: #b57e41;
}

.secondaryTextGround {
  color: #d49a64;
}

.secondaryBackgroundGround {
  background-color: #d49a64;
}

.primaryRock {
  background-color: #8a704a;
}

.secondaryTextRock {
  color: #a68a6a;
}

.secondaryBackgroundRock {
  background-color: #a68a6a;
}

.primaryBug {
  background-color: #8c9a16;
}

.secondaryTextBug {
  color: #6e790e;
}

.secondaryBackgroundBug {
  background-color: #6e790e;
}

.primaryGhost {
  background-color: #7a29d6;
}

.secondaryTextGhost {
  color: #511f8a;
}

.secondaryBackgroundGhost {
  background-color: #511f8a;
}

.primarySteel {
  background-color: #9e9eae;
}

.secondaryTextSteel {
  color: #7d7d8e;
}

.secondaryBackgroundSteel {
  background-color: #7d7d8e;
}
