.primaryFire {
  background-color: #b22f30;
}

.secondaryFire {
  color: #8a0917;
}

.primaryWater {
  background-color: #002a4a;
}

.secondaryWater {
  color: #17607d;
}

.primaryGrass {
  background-color: #4aa63a;
}

.secondaryGrass {
  color: #198418;
}

.primaryElectric {
  background-color: #ffc000;
}

.secondaryElectric {
  color: #fff1ce;
}

.primaryPsychic {
  background-color: #e257a7;
}

.secondaryPsychic {
  color: #c2358c;
}

.primaryIce {
  background-color: #3dcdf0;
}

.secondaryIce {
  color: #07a1c7;
}

.primaryDragon {
  background-color: #6759d3;
}

.secondaryDragon {
  color: #4d2ec3;
}

.primaryDark {
  background-color: #604438;
}

.secondaryDark {
  color: #412c20;
}

.primaryFairy {
  background-color: #f280d9;
}

.secondaryFairy {
  color: #e860c9;
}

.primaryNormal {
  background-color: #8c7a6c;
}

.secondaryNormal {
  color: #b09d8e;
}

.primaryFighting {
  background-color: #d64700;
}

.secondaryFighting {
  color: #ff9311;
}

.primaryFlying {
  background-color: #6b8fd1;
}

.secondaryFlying {
  color: #a3b9f3;
}

.primaryPoison {
  background-color: #8c338c;
}

.secondaryPoison {
  color: #6d166d;
}

.primaryGround {
  background-color: #b57e41;
}

.secondaryGround {
  color: #d49a64;
}

.primaryRock {
  background-color: #8a704a;
}

.secondaryRock {
  color: #a68a6a;
}

.primaryBug {
  background-color: #8c9a16;
}

.secondaryBug {
  color: #6e790e;
}

.primaryGhost {
  background-color: #7a29d6;
}

.secondaryGhost {
  color: #511f8a;
}

.primarySteel {
  background-color: #9e9eae;
}

.secondarySteel {
  color: #7d7d8e;
}
